#difficultés {
    position: relative;

    width: 100vw;
    height: auto;
    min-height: 50vh;

    #block-difficultés {
        position: relative;

        width: 65vw;
        height: auto;

        margin-left: 30vw;

        text-align: right;

        #titre-difficultés {
            margin-bottom: 3vw;
            height: auto;
        }

        #text-difficultés {
            font-size: 2rem;
            font-family: "montserrat-regular";
            text-align: end;
            height: auto;

            h4 {
                margin-bottom: 1rem;
            }

            ul {
                display: block;
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #difficultés {
        #block-difficultés {
            width: 90vw;
            margin-left: 5vw;
            text-align: left;
    
            #titre-difficultés {
                margin-bottom: 3vw;
                height: auto;
            }
    
            #text-difficultés {
                font-size: 2rem;
                font-family: "montserrat-regular";
                text-align: start;
                height: auto;
    
                h4 {
                    margin-bottom: 1rem;
                }
    
                ul {
                    display: block;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}