#graphiques {
    width: 100vw;
    height: auto;
    min-height: 50vh;

    padding-bottom: 2vh;

    #titre-graph {
        width: 100vw;
        height: auto;
        
        text-align: center;
        padding-top: 10vh;
    }

    #block-graph {
        margin-top: 10vh;

        div {
            position: relative;
            display: flex;
            flex-wrap: wrap;

            width: 100vw;
            height: auto;

            justify-content: space-around;

            .block-graph {
                position: relative;

                width: 700px;

                div {
                    display: flex;

                    justify-content: space-between;
                    flex-direction: column;
                    width: auto;

                    img {
                        height: auto;
                    }

                    h4 {
                        color: $main_purple;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    #conclusion {
        position: relative;

        width: 60vw;
        height: auto;

        left: 50%;
        transform: translateX(-50%);

        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    #graphiques {
        #block-graph {
            div {
                .block-graph {
                    width: 400px;
                }
            }
        }
    
        #conclusion {
            width: 90vw;
            font-size: 1.5rem;
        }
    }
}