html {
    font-size: 62.5%;
    background-color: $main_white;
    font-family: "montserrat_medium";

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
