#accueil2 {
    position: relative;
    height: 12vh;

    #nav-bar {
        position: relative;
        width: 100vw;
        height: 10vh;

        background-color: $main_purple;
        color: $main_white;

        #titre-nav {
            display: inline-block;
            text-align: center;
            position: absolute;

            width: 50vw;
            height: auto;

            top: 50%;
            transform: translateY(-50%);

            font-size: 3rem;

            a {
                color: $main_white;
                text-decoration: none;
            }
        }

        #lien-nav {
            display: inline-flex;
            justify-content: space-around;
            position: absolute;

            width: 30vw;
            height: auto;

            right: 2vw;
            top: 50%;
            transform: translateY(-50%);

            font-size: 2rem;

            a {
                color: $main_white;
                text-decoration: none;
            }
        }

        #menu {
            display: none;
            cursor: pointer;
        }
    }
}

#mentions {
    position: relative;
    width: 60vw;
    left: 50%;
    transform: translateX(-50%);

    padding: 10px;
    margin-bottom: 10px;

    background-color: rgba(80, 20, 110, 0.8);
    border-radius: 50px 0;

    h2 {
        position: relative;
        width: 55vw;

        left: 50%;
        transform: translateX(-50%);

        font-size: 4rem !important;
        margin-bottom: 10px !important;

        color: $main_white;
    }

    p {
        position: relative;
        width: 55vw;

        left: 50%;
        transform: translateX(-50%);

        font-size: 1.8rem !important;
        margin-bottom: 20px !important;

        color: black;
    }
}

#footer2 div {
    width: 100vw;
    height: 7vh;

    background-color: $main_grey;

    #footer-nav {
        position: relative;
        display: flex;
        justify-content: space-around;

        width: 50vw;
        height: auto;        

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        font-size: 1.5rem;

        a {
            color: $main_white;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 800px) {
    #accueil2 {
        #nav-bar {
            position: relative;
            width: 100vw;
            height: 10vh;

            background-color: $main_purple;
            color: $main_white;

            & > div {
                padding-top: 3vh;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 14vh;
            }

            #title-and-menu {
                width: 98vw;
                height: 4vh;

                & > div {
                    display: flex;
                    justify-content: space-around;
                    position: absolute;

                    width: 98vw;
                }

                #titre-nav {
                    position: initial;
                    width: 80vw;
                    font-size: 3rem;
                    transform: translate(0);
                }

                #menu {
                    width: 5vw;
                }
            }

            #lien-nav {
                display: none;
                transform: translate(0);
                height: 4vh;
            }

            #menu {
                display: initial;
            }

            &.change {
                height: 16vh;

                #lien-nav {
                    padding-top: 2vh;
                    width: 100vw;
                    display: flex;
                }
            }
        }
    }

#mentions {
    width: 80vw;
    h2 {
        width: 75vw;
        font-size: 3rem !important;
    }

    p{
        width: 75vw;
    }
}

    #footer2 div {
        #footer-nav {
            width: 90vw;

            font-size: 1.1rem;
        }
    }
}
