#solutions {
    position: relative;

    width: 100vw;
    height: auto;
    min-height: 40vh;

    margin-top: 10vh;

    #block-solutions {
        position: relative;

        width: 65vw;
        height: auto;

        margin-left: 30vw;

        text-align: right;

        #titre-solutions {
            margin-bottom: 3vw;
            height: auto;
        }

        #text-solutions {
            font-size: 2rem;
            font-family: "montserrat-regular";
            text-align: end;
            height: auto;

            h4 {
                margin-bottom: 1rem;
            }

            ul {
                display: block;
                margin-bottom: 3rem;
            }
        }
    }
}